html {
  font-size: 8px;
}

.background {
  background-color: rgb(212, 216, 216);
}

/*----------------------------HEADER-----------------------*/

.header {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}

.top-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-left img{
  margin-left: 3rem;
  height: 4rem;
}

.top-left h2{
  font-size: 2rem;
}

.navigation {
  display: flex;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.nav-items {
  margin-right: 2rem;
}

/*----------------------------BANNER-----------------------*/


.banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: Helvetica;
}

.banner .main {
  width: 60%;
  margin: 4rem 3rem;
}

.banner .main img {
  width: 100%;
}

.banner .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.banner h1 {
  font-size: 2.5rem;
  color: rgb(49, 52, 53);
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.banner h2 {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  color: rgb(49, 52, 53);
}

.banner h4 {
  background-color: rgb(62, 66, 66);
  color: white;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  font-size: 1.25rem;
}

/*----------------------------MAIN SECTION-----------------------*/

.main {
  display: flex;
  width: 100%;
}

.main .practice {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 4rem 3rem 4rem 3rem;
}

.main .practice img {
  width: 100%;
}

.main h1 {
  font-size: 3rem;
  color: rgb(49, 52, 53);
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.main h3 {
  font-size: 1.2rem;
  color: rgb(100, 100, 100);
  font-family: Helvetica;
}

.main h4 {
  color: rgb(100, 100, 100);
  font-family: Helvetica;
  margin-top: 4rem;
}

.main h2 {
  font-size: 1.5rem;
  color: rgb(49, 52, 53);
  line-height: 3.5rem;
  vertical-align: center;
}

.main .info {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.main .info .block {
  display: flex;
  flex-direction: row;
}

.main .info .block img{
  width: 35%;
  height: 35%;
  margin: 2rem;
}

.main .info .block .text{
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main .info .block .text a{
  line-height: 3rem;
}

/*----------------------------COURSE SECTION-----------------------*/

.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.course {
  width: 20rem;
  margin: 0 2rem 2rem 4rem;
  background-color: white;
}

.courses img {
  height: auto;
  width: 100%;
}

.courses h1 {
  margin: 4rem;
  font-size: 3rem;
  color: rgb(49, 52, 53);
  text-decoration: underline;
}

.courses h2 {
  margin-left: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: rgb(49, 52, 53);
}

.courses h3 {
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: rgb(100, 100, 100);
}

#space {
  margin-bottom: 1.5rem;
}
